<!DOCTYPE html>
<html>
<head>
	<title>ANIMALS</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<nav>
		<ul>
			<li><a href="/">HOME</a></li>
		  	<li style="float:right"><a href="/favorites">FAVORITES</a></li>
		  	<li style="float:right"><a href="/favorites/new">ADD</a></li>
		</ul>
	</nav>
	<div class="container">
		<%- body%>
	</div>
	<footer>2019 Nhu Trinh</p></footer>
</body>
</html>